* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 350px;
  height: auto;
  padding: 28px 20px;
  border-radius: 5px;

  .header {
    h2 {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .card-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title,
    .description,
    .img,
    .link,
    .date,
    .tags {
      mat-form-field {
        width: 304px;
      }
    }

    .tags {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .tags > button {
      align-self: flex-end;
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        width: 124px;
      }
    }
  }
}