<div class="container">
  <div class="header">
    <h2>Create new card</h2>
  </div>
  <form class="card-form" [formGroup]="cardForm">
    <div class="title">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="video name" formControlName="title" required>
        <mat-icon matIconPrefix>title</mat-icon>
        <mat-error *ngIf="cardForm.controls['title'].errors?.['required']">Please enter a title</mat-error>
      </mat-form-field>
    </div>
    <div class="description">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" required>
        <mat-icon matIconPrefix>description</mat-icon>
        <mat-error *ngIf="cardForm.controls['description'].errors?.['required']">Please enter a description</mat-error>
      </mat-form-field>
    </div>
    <div class="img">
      <mat-form-field appearance="outline">
        <mat-label>Img</mat-label>
        <input matInput formControlName="img" required>
        <mat-icon matIconPrefix>image</mat-icon>
        <mat-error *ngIf="cardForm.controls['img'].errors?.['required']">Please enter a image link</mat-error>
      </mat-form-field>
    </div>
    <div class="link">
      <mat-form-field appearance="outline">
        <mat-label>Link</mat-label>
        <input matInput formControlName="link" required>
        <mat-icon matIconPrefix>link</mat-icon>
        <mat-error *ngIf="cardForm.controls['link'].errors?.['required']">Please enter a video embed link</mat-error>
      </mat-form-field>
    </div>
    <div class="tags">
      <div formArrayName="tags" *ngFor="let tags of tags.controls; let i = index">
        <mat-form-field [formGroupName]="i" appearance="outline">
          <mat-label>Tag</mat-label>
          <input matInput formControlName="tag">
          <mat-icon matIconPrefix>tag</mat-icon>
          <button mat-icon-button matSuffix (click)="addTag()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="buttons">
      <button mat-raised-button type="reset" (click)="onReset()">Reset</button>
      <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Create card</button>
    </div>
  </form>
</div>