<div class="container">
  <p class="sorting">
    Sorting by:
    <mat-button-toggle-group class="sorting-buttons" [(ngModel)]="filterType" (click)="onSortClick()" name="sort" aria-label="sort">
      <mat-button-toggle value="date">date</mat-button-toggle>
      <mat-button-toggle value="count">count of views</mat-button-toggle>
      <mat-button-toggle value="word">by word or sentance</mat-button-toggle>
    </mat-button-toggle-group>
    <input class="sorting-input" type="search" name="keyword" [(ngModel)]="keyword" (ngModelChange)="onKeywordChange()">
  </p>
</div>
