.container {
  background-color: #e5e5e5;
  height: 40px;

  .sorting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &-buttons {
      height: 24px;
      justify-content: center;
      align-items: center;
    }

    &-input {
      height: 24px;
      border: none;
      border-radius: 3px;
    }
  }
}