* {
  // border: .1px solid red;
}

.container {
  width: 260px;
  height: 325px;
  border: none;
  overflow: hidden;
  border-radius: 5px;

  &-inner {
    box-sizing: border-box;
    padding: 20px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
    border-bottom: 5px solid rgb(255, 0, 0);

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .preview {
        overflow: hidden;
        width: 220px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-image {
          width: 100%;
          height: auto;
        }
      }

      .stats {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;

        &-views,
        &-likes,
        &-dislikes,
        &-comments {
          display: flex;
          justify-content: center;
          align-items: center;

          &-icon {
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .more {
      &-link {
        &-button {
          width: 120px;
          height: 32px;
        }
      }
    }
  }
}