<div class="container">
  <div class="container-inner" appPublishedIndicator [publishDate]="publisedDate">
    <div class="content">
      <div class="preview">
        <img class="preview-image" [src]="preview" alt="preview">
      </div>
      <div class="stats">
        <div class="stats-views">
          <mat-icon class="stats-views-icon">visibility</mat-icon>
          <span class="stats-views-counter">{{viewCount}}</span>
        </div>
        <div class="stats-likes">
          <mat-icon class="stats-likes-icon">thumb_up</mat-icon>
          <span class="stats-likes-counter">{{likeCount}}</span>
        </div>
        <div class="stats-dislikes">
          <mat-icon class="stats-dislikes-icon">thumb_down</mat-icon>
          <span class="stats-dislikes-counter">{{dislikeCount}}</span>
        </div>
        <div class="stats-comments">
          <mat-icon class="stats-comments-icon">comment</mat-icon>
          <span class="stats-comments-counter">{{commentCount}}</span>
        </div>
      </div>
      <div class="title">
        <h2 class="title-header">{{ title | slice: 0 : 20 }}{{ title.length > 20 ? '...' : '' }}</h2>
      </div>
    </div>

    <div class="more">
      <a class="more-link" routerLink="detail/:id{{id}}">
        <button class="more-link-button" color="primary" mat-raised-button>
          more...
        </button>
      </a>
    </div>

  </div>
</div>