.container {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .logo {
      &-link {

        &-icon {
          display: block;
          height: auto;
          width: 50px;

          svg {
            height: auto;
            width: 50px;
          }
        }
      }
    }

    .search {
      &-form {
        display: flex;

        &-input {
          height: 24px;
          width: 396px;
          border: none;
          background-color: #efefef;

          &:focus-visible {
            outline: none;
          }
        }
      }
    }

    .search-settings {
      &-button {
        width: 24px;
        height: 24px;
        min-width: 0;
        padding: 0;

        &-icon {
          margin: 0;
        }
      }
    }
  }

  .login {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    position: absolute;
    left: calc(100% - 200px);
    gap: 10px;
    span {
      padding: 0 5px;
    }
    &-button {
      width: 24px;
      height: 24px;
      min-width: 0;
      padding: 0;

      &-icon {
        margin: 0;
      }
    }
  }
}