<div class="container">
  <div class="header">
    <h2>Profile</h2>
  </div>
  <mat-list *ngIf="userData" class="user-data">
      <mat-list-item class="user-data-item">
        <div class="uid">
          <span>User ID:&nbsp;</span><span>{{userData.uid.S}}</span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="user-data-item">
        <div class="email">
          <span>E-Mail:&nbsp;</span><span>{{userData.email.S}}</span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="user-data-item">
        <div class="date">
          <span>Registration date:&nbsp;</span><span>{{userData.createdAt.S | date}}</span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="user-data-item">
        <div class="name">
          <div *ngIf="isUpdatable === false" class="name-static">
            <span>Name:&nbsp;</span><span>{{userData.name.S}}</span>
          </div>
          <form *ngIf="isUpdatable" class="name-form" [formGroup]="nameForm">
            <div class="email">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [placeholder]="userData.name.S" formControlName="name" required>
                <mat-error *ngIf="nameForm.controls['name'].errors?.['required']">Name is required</mat-error>
              </mat-form-field>
            </div>
          </form>
          <button mat-icon-button (click)="updateName()">
            <mat-icon>{{isUpdatable? 'save' : 'create'}}</mat-icon>
          </button>
        </div>
      </mat-list-item>
  </mat-list>
</div>