<div class="container" *ngIf="data">
  <div class="card">
    <div class="back-button-container">
      <button routerLink="/" mat-raised-button color="primary">&lt;</button>
    </div>
    <div class="video-container" >
      <iframe
        width="560"
        height="315"
        [src]="video"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>
    <div class="content-container older6m" appPublishedIndicator [publishDate]="data.snippet.publishedAt || ''">
      <div class="header">
        <h1 class="header-heading">{{data.snippet.title | slice: 0 : 20}}{{ data.snippet.title.length > 20 ? '…' : '' }}</h1>
        <p class="header-date">{{data.snippet.publishedAt | date: 'EEEE, MMMM dd, YYYY'}}</p>
      </div>
      <div class="description">
        <h4 class="description-heading">Description:</h4>
        <p class="description-text">{{data.snippet.description}}</p>
      </div>
      <div class="stats">
        <div class="stats-views">
          <mat-icon class="stats-views-icon">visibility</mat-icon>
          <span class="stats-views-counter">{{data.statistics.viewCount}}</span>
        </div>
        <div class="stats-likes">
          <mat-icon class="stats-likes-icon">thumb_up</mat-icon>
          <span class="stats-likes-counter">{{data.statistics.likeCount}}</span>
        </div>
        <div class="stats-dislikes">
          <mat-icon class="stats-dislikes-icon">thumb_down</mat-icon>
          <span class="stats-dislikes-counter">{{data.statistics.dislikeCount}}</span>
        </div>
        <div class="stats-comments">
          <mat-icon class="stats-comments-icon">comment</mat-icon>
          <span class="stats-comments-counter">{{data.statistics.commentCount}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
