* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 44px;
    max-width: 1165px;
    height: 430px;
    overflow: hidden;
    border-radius: 5px;
    filter: drop-shadow(5px 10px 10px rgba(47, 128, 237, 0.25));

    .back-button-container {
      button {
        width: 32px;
        height: 32px;
        min-width: 0;
        border-radius: 4px 0 0 4px;
        font-size: 30px;
      }
    }

    .video-container {
      height: 100%;

      iframe {
        width: 700px;
        height: 100%;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #e5e5e5;
      height: 100%;
      padding: 35px 35px 0;
      border-bottom: 5px solid transparent;

      .header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 10px;

        &-heading {
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        &-date {
          color: #828282;
          text-align: right;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .description {
        overflow: scroll;
        height: 280px;

        &-heading {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        &-text {
          white-space: pre-wrap;
          color: #828282;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .stats {
        padding: 30px 0;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;

        &-views,
        &-likes,
        &-dislikes,
        &-comments {
          display: flex;
          justify-content: center;
          align-items: center;

          &-icon {
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.older6m {
  border-color: #f5320e !important;
}

.between1m-6m {
  border-color: #f57b1b !important;
}

.between7d-1m {
  border-color: #72f50f !important;
}

.newer7d {
  border-color: #3f51b5 !important;
}