<div class="container">
  <div class="buttons-container">
    <button mat-icon-button (click)="refreshGroupListTrigger()" color="primary" [disabled]="isRefreshDisabled">
      <mat-icon *ngIf="!isRefreshDisabled">refresh</mat-icon>
      <span *ngIf="isRefreshDisabled">{{countdown$ | async }}</span>
    </button>
    <button mat-icon-button (click)="createGroup()" color="primary">
      <mat-icon>add</mat-icon>
    </button>

  </div>
  <mat-list *ngIf="1" class="group-list">
    <mat-list-item *ngFor="let item of groupList">
      <div class="group-content-wrapper">
        <div class="group-content">
          <a routerLink="/group/{{item.id.S}}" class="link">
            <span>Chat:&nbsp;</span><span>{{item.name.S}}</span>
          </a>
          <button *ngIf="myUid === item.createdBy.S" mat-icon-button (click)="deleteGroup(item.id.S)" color="warn" [disabled]="isDeleteDisabled">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-list-item>
  </mat-list>
</div>