.container {
  .buttons-container {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
  }

  .group-list {
    width: 50%;
    height: 75%;
    overflow: scroll;
    position: fixed;

    .group-content-wrapper{
      .group-content {
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0 5px;


          .go-to {
            border: none;
            background-color: transparent;
            font-size: 16px;
            cursor: pointer;
            width: 100%;
            justify-content: flex-start;
          }
      }
    }
  }
}

.mdc-button__label {
  width: 100% !important;
}