.container {
  .buttons-container {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
  }

  .people-list {
    width: 50%;
    height: 80%;
    overflow: scroll;
    position: fixed;

    .people-content-wrapper {
      .people-content {
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0 5px;

        .go-to {
          border: none;
          background-color: transparent;
          font-size: 16px;
          cursor: pointer;
          width: 100%;
          justify-content: flex-start;
        }
      }
    }
  }
}

.highlighted {
  background-color: #fff2;
  border-radius: 4px;
}