<div class="container">
  <div class="buttons-container">
    <button mat-icon-button (click)="refreshPeopleList()" color="primary" [disabled]="isRefreshDisabled">
      <mat-icon *ngIf="!isRefreshDisabled">refresh</mat-icon>
      <span *ngIf="isRefreshDisabled">{{countdown$ | async}}</span>
    </button>

  </div>
  <mat-list *ngIf="1" class="people-list">
    <mat-list-item *ngFor="let item of peopleList$ | async">
      <div class="people-content-wrapper" >
        <div class="people-content" [ngClass]="{ 'highlighted': isHighlighted(item.uid.S) | async}">
          <button mat-button (click)="goToConversation(item.uid.S)" class="go-to">
            <span>User:&nbsp;</span><span>{{item.name.S}}</span>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-list-item>
  </mat-list>
</div>