<div class="container">
  <div class="header">
    <div class="logo">
      <a class="logo-link" routerLink="">
        <mat-icon class="logo-link-icon" color="primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="m10 15l5.19-3L10 9v6m11.56-7.83c.13.47.22 1.1.28 1.9c.07.8.1 1.49.1 2.09L22 12c0 2.19-.16 3.8-.44 4.83c-.25.9-.83 1.48-1.73 1.73c-.47.13-1.33.22-2.65.28c-1.3.07-2.49.1-3.59.1L12 19c-4.19 0-6.8-.16-7.83-.44c-.9-.25-1.48-.83-1.73-1.73c-.13-.47-.22-1.1-.28-1.9c-.07-.8-.1-1.49-.1-2.09L2 12c0-2.19.16-3.8.44-4.83c.25-.9.83-1.48 1.73-1.73c.47-.13 1.33-.22 2.65-.28c1.3-.07 2.49-.1 3.59-.1L12 5c4.19 0 6.8.16 7.83.44c.9.25 1.48.83 1.73 1.73Z" />
          </svg>
        </mat-icon>
      </a>
    </div>
    <div class="search">
      <form class="search-form" (ngSubmit)="performSearch()">
        <input class="search-form-input" type="search" placeholder="What are you want to find out?" [(ngModel)]="searchTerm" name="searchTerm">
        <button class="search-form-button" color="primary" mat-raised-button type="submit">Search</button>
      </form>
    </div>
    <div class="search-settings" (click)="toggleSort()" (keydown)="handleKeyPress($event)"
    tabindex="0">
      <button class="search-settings-button" color="primary" mat-raised-button>
        <mat-icon class="search-settings-button-icon">tune</mat-icon>
      </button>
    </div>
    <div class="sign-in">
      <span>Your Name</span>
      <button class="sign-in-button" color="primary" mat-raised-button>
        <mat-icon class="sign-in-button-icon">account_circle</mat-icon>
      </button>
    </div>
  </div>
  <ng-template [ngIf]="isSortingOpen">
    <app-sorting-criteria-block (sortParamsToHeader)="receiveSortParams($event)" (keywordToHeader)="receiveKeyword($event)"></app-sorting-criteria-block>
  </ng-template>
</div>
