<div class="container">
  <div class="heading">
    <button *ngIf="isAuthenticated | async" mat-raised-button color="primary" routerLink="/">Connections</button>
  </div>
  <div class="buttons-wrapper">
    <button *ngIf="isAuthenticated | async" mat-icon-button color="primary" routerLink="/profile">
      <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button color="primary" (click)="themeService.toggleTheme()">
      <mat-icon *ngIf="themeService.isDarkTheme">brightness_3</mat-icon>
      <mat-icon *ngIf="!themeService.isDarkTheme">brightness_5</mat-icon>
    </button>

    <button *ngIf="(isAuthenticated | async) === false" mat-icon-button color="primary" routerLink="/signup">
      <mat-icon>person_add_icon</mat-icon>
    </button>
    <button *ngIf="(isAuthenticated | async) === false" mat-icon-button color="primary" routerLink="/signin">
      <mat-icon>login</mat-icon>
    </button>
  </div>
</div>
