<div class="container">
  <div class="header">
    <h2>Login</h2>
  </div>
  <form class="login-form" [formGroup]="credentials">
    <div class="login">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput placeholder="nagibator1998" formControlName="login" required>
        <mat-icon matSuffix>login</mat-icon>
        <mat-error *ngIf="credentials.controls['login'].errors?.['minlength']">Min length 3 chars</mat-error>
        <mat-error *ngIf="credentials.controls['login'].errors?.['required']">You must enter a login</mat-error>
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="isHidden ? 'password' : 'text'" formControlName="password" required>
        <button mat-icon-button matSuffix (click)="isHidden = !isHidden" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidden">
          <mat-icon>{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="credentials.controls['password'].errors?.['minlength']">Min length 6 chars</mat-error>
        <mat-error *ngIf="credentials.controls['password'].errors?.['required']">You must enter a password</mat-error>
      </mat-form-field>
    </div>
    <div class="button-login">
      <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Login</button>
    </div>
  </form>
</div>