* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 350px;
  height: auto;
  padding: 28px 20px;
  border-radius: 5px;

  .header {
    h2 {
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .login {
      mat-form-field {
        width: 304px;
      }
    }

    .password {
      mat-form-field {
        width: 304px;
      }
    }

    .button-login {
      align-self: flex-end;

      button {
        width: 124px;
      }
    }
  }
}