<div class="container">
  <div class="header">
    <h2>Login</h2>
  </div>
  <form class="login-form" [formGroup]="credentials">
    <div class="login">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput placeholder="example@gmail.com" formControlName="login" required>
        <mat-icon matSuffix>login</mat-icon>
        <mat-error *ngIf="credentials.controls['login'].errors?.['required']">Please enter a login email</mat-error>
        <mat-error *ngIf="credentials.controls['login'].errors?.['pattern']">The login email is invalid!</mat-error>
      </mat-form-field>
    </div>
    <div class="password">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="isHidden ? 'password' : 'text'" formControlName="password" appPasswordValidator required>
        <button mat-icon-button matSuffix (click)="isHidden = !isHidden" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidden">
          <mat-icon>{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="credentials.controls['password'].errors?.['required']">Please enter a password</mat-error>
        <mat-error *ngIf="credentials.controls['password'].errors?.['atLeastEightCharacters']">Min length 8 chars</mat-error>
        <mat-error *ngIf="credentials.controls['password'].errors?.['mixedCase']">Use upper and lower case</mat-error>
        <mat-error *ngIf="credentials.controls['password'].errors?.['lettersAndNumbers']">Use letters and numbers</mat-error>
        <mat-error *ngIf="credentials.controls['password'].errors?.['specialCharacter']">Use special symbols %$&#9778;!#</mat-error>
      </mat-form-field>
    </div>
    <div class="button-login">
      <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Login</button>
    </div>
  </form>
</div>