<div class="container">
  <mat-toolbar class="buttons-container">
    <a routerLink="/">
      <button mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </a>
    <button mat-icon-button (click)="refreshMessagesTrigger()" color="primary" [disabled]="isRefreshDisabled">
      <mat-icon *ngIf="!isRefreshDisabled">refresh</mat-icon>
      <span *ngIf="isRefreshDisabled">{{countdown$ | async}}</span>
    </button>
    <button *ngIf="createdBy === myUid" mat-icon-button (click)="deleteGroup()" color="warn"
      [disabled]="isDeleteDisabled">
      <mat-icon>close</mat-icon>
    </button>
    <div class="group-name">
      <mat-icon>people</mat-icon>
      <h2>{{groupName}}</h2>
    </div>

  </mat-toolbar>

  <div class="list-container">
    <mat-list *ngIf="1" class="group-list">
      <mat-list-item class="group-message" *ngFor="let m of messages$ | async" appIsMineMessage [uid]="m.authorID.S">
        <div class="message-content-wrapper">
          <div class="date">{{m.createdAt.S | date: 'dd MMMM YYYY - HH:mm'}}</div>
          <div class="name">{{m.authorID.S | addName | async}}</div>
          <div class="message">{{m.message.S}}</div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="message-form-container">
    <form class="message-form" [formGroup]="messageForm">
      <mat-form-field class="message-form-field" appearance="outline">
        <mat-label>Text</mat-label>
        <input matInput formControlName="message" required>
        <button class="button-send" mat-icon-button matSuffix (click)="sendMessage()" color="primary"
          [disabled]="messageForm.invalid">
          <mat-icon>send</mat-icon>
        </button>
        <mat-error *ngIf="messageForm.controls['message'].errors?.['required']">Please enter message</mat-error>
      </mat-form-field>
    </form>
  </div>
</div>